<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% if user.is_authenticated %}
    <div class="menu">
        <div class="wrap">
            <ul>
                <li class="users">Пользователь: {{ user.username }}</li>
                <li><a href="{% url 'price' %}">Цены на проекты</a></li>
                <li><a href="{% url 'feedback' %}">Написать отзыв</a></li>
                <li><a href="{% url 'index' %}">Примеры работ</a></li>
                <li>
                    <form action="{% url 'logoutuser' %}" method="post">
                        {% csrf_token %}
                        <button class="btn" id="btn">Выйти</button>
                    </form>
            </ul>
            <ul class="blog1">
                <li><a href="{% url 'myblog' %}">Вы так же можете почитать мой блог!*кликабельно*</a></li>
            </ul>
        </div>
    </div>
{% else %}
    <div class="menu">
        <div class="wrap">
            <ul>
                <li><a href="{% url 'signupuser' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'loginuser' %}">Войти</a></li>
            </ul>
        </div>
    </div>
{% endif %}

    <div class="content">
        <div class="wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>