{% extends 'blog/base.html' %}

{% block content %}

<div class="price">
    <div class="wrap">
        <ul class="option">
            <li>
                <h2>Бесплатный</h2>
                <p>Получите проект совершенно бесплатно</p>
                <h2>0 рублей</h2>
                <p>1 проект</p>
                <p>Срок выполнения 30 дней</p>
            </li>
            <li>
                <h2>Стандартный</h2>
                <p>Проект от опытных специалистов</p>
                <h2>1000 рублей</h2>
                <p>3 проекта</p>
                <p>Срок выполнения 14 дней</p>
            </li>
            <li>
                <h2>Премиум</h2>
                <p>Проект от профессионалов</p>
                <h2>5000 рублей</h2>
                <p>5 проекта</p>
                <p>Срок выполнения 7 дней</p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}